### 1. 출력 함수(print)
print() 함수
- ()안의 값을 출력해주는 함수
- 변수 값을 확인하는 용도로도 사용

In [4]:
print("Hello Python")
print('Hello Python')
print(25)
print(3.14)
print(True)

Hello Python
Hello Python
25
3.14
True

#### 참고. Escape 코드
- 문자열 내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
- \n : 한 줄 개행
- \t : 탭(8칸 공백)

In [5]:
print("Hello \n Python")
print("Hello \t Python")

Hello
 Python
Hello 	 Python

#### 소수점 출력하기, 포맷함수(중괄호 안으로 값을 순서대로 집어 넣음)
- {0:3d} : 포맷 0번째 숫자, 3글자, d(정수)
- {1:3.2f} : 포맷 1번째 숫자, 3글자, 소수점 2자리, f(실수)

In [11]:
print("이름: {}, 학점: {}".format("윤지욱", 4.5))
print("Test1: {0:3d}, Test2: {1:3.2f}".format(369, 623.4567))

이름: 윤지욱, 학점: 4.5
Test1: 369, Test2: 623.46

### 2. 주석(comment)
- 코드에서 #으로 시작하는 뒷 부분을 실행하지 않음
- Python 소스코드 실행 시 #은 무시하고 실행
- 개발자(사람)가 보기 위한 용도로 사용
- 개발 시 주석을 잘 활용하는 사람이 좋은 개발자

In [14]:
student_num = "235688"  # 학번

# 학번 출력
print(student_num)

235688

### 3. 자료형(Type)
1. 문자열(string) : "Hello", 'Hi' (쌍, 홀 둘 다 가능한데 다른 언어를 위해 무조건 쌍따옴표 쓰기)
2. 정수형 숫자(int): 3, 0, -1
3. 실수형 숫자(float): 3.1, 0.0, -2.2
4. 논리형(boolean): True, False (논리형 첫글자는 무조건 대문자)

 
 - type() 함수를 사용해서 자료형 확인 가능(print를 활용하여 확인 가능)

In [19]:
print(type(3.14))
print(type("Hi"))

<class 'float'>
<class 'str'>

형변환(Type Casting)

- 형변환을 사용하면 자료형을 원하는 type 으로 변환 가능

 1. int(): ()안의 값을 정수형 변환
 2. float(): ()안의 값을 실수형 변환
 3. str(): ()안의 값을 문자열형 변환

In [29]:
# int("Hello") (X)
# float("Hi") (X)

# 실수형 → 정수형 (O)
a = 3.14
print(int(a))

# 정수형 → 실수형 (O)
b = 3
print(float(b))

# 문자열 정수 → 정수형 (O)
c = "3" #String
print(int(c))

# 문자열 실수 → 실수형 (O)
d = "3.14"
print(float(d))

# 문자열 실수 → 정수형  (X, .이 문자열에 있으니까 안됨)
#print(int(d))

# 문자열 정수 → 실수형 (O)
print(float(c))

3
3.0
3
3.14
3.0

### None
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
- 기타 언어의 Null과 같은 의미로 사용

In [1]:
student_name = None
print(student_name)

None

## 4. 변수(Variable)
- 변수 : 하나의 값을 저장할 수 있는 메모리 공간 (무조건 하나만)

```python
#변수 선언 및 초기화 방법
num = 5
```
동적 타이핑 언어*: 코드 작성시 Type을 명시하지 않음(코드 실행시 Python이 자동으로 Type 체크)  
num = 5 (python)  
int num = 5 (java - 정적 타이핑 언어)  

대입연산자(=) : 우측의 값을 좌측에 대입, 동등(equal)의 의미 아님  

- python에서 동등(equal)은 ==을 사용

In [7]:
# name 변수 생성
# "YunJiUk" 값을 name 변수에 저장

# name → 변수 이름
# = → 대입 연산자
# "YunJiUk" → 값
name = "YunJiUk"
print(name)

YunJiUk

### 변수 명명 규칙(naming rule)
1. 영문 대소문자, _ , 숫자로만 구성
2. 숫자로 시작할 수 없음
3. 영어 대소문자 구별
4. 예약어 사용불가

- 예약어: Python에서 미리 선점하여 사용 중인 키워드
- 예약어는 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음
- 예약어 예) for, while, if, None, True, False, return, def 등등

In [10]:
# 1abc = 5 (X) 숫자로 시작 불가
abc1 = 5 # (O)

# 영어 대소문자 구별
abc = 5 # abc와 Abc는 서로 다른 변수
Abc = 3

# 예약어 사용불가
# None = 3 # (X)
# print = 5 # (X)

## 5.Nameing Method
- 변수, 함수, 클래스 등의 사용자 정의 이름에 사용(개발자끼리 규칙 만듦)
- 프로그래밍 언어별로 사용하는 Naming Method가 다름
- Python은 snake_case 사용 !!

1. snake_case: 소문자로 작성, 합성어 '_' 사용 (student_name)
2. camelCase: 첫글자 소문자, 합성어 첫글자 대문자 (studentName)
3. PascalCase: 첫글자 대문자, 합성어 첫글자 대문자 (StudentName)

## 6. format 출력

1. format(): 과거
2. f-string: 최신

In [12]:
student_num = 235688
student_name = "YunJiUk"

# 출력: 전남대학교 235688, YunJiUk 입니다.
print("전남대학교 {}, {} 입니다.".format(student_num, student_name))
print(f"전남대학교 {student_num}, {student_name} 입니다.")

전남대학교 235688, YunJiUk 입니다.
전남대학교 235688, YunJiUk 입니다.

## 7. 사칙연산

- 더하기: +
- 빼기: -
- 곱하기: *
- 나누기: /
- 나누기(몫): //
- 나누기(나머지): %
- 제곱: **