## 컬렉션 데이터 타입
- 변수 : 하나의 값을 저장할 수 있는 메모리 공간  
- 컬렉션 데이터 타입 : 다양한 자료형의 여러값을 저장 가능
- list, dict, tuple, set

1. list[]
- 시퀀스 자료형(연속 된 값 저장, 기차, 인덱스 존재) → 정렬 가능
- mutable(생성 후 변경 가능)
- index 사용 → slicing 가능
- packing과 unpacking 가능
- 멤버함수 : append(), extend(), insert(), remove(), pop(), sort() 등등

2. tuple()
- 시퀀스 자료형(연속 된 값 저장) → 정렬 불가능 (값이 바뀌게 되니까)
- immutable(생성 후 변경 불가능)
- index 사용 → slicing 가능
- () 생략 가능
- 1개의 원소만 가지는 경우, 사용 → (1,)

3. dict{key:value}
- 가방
- key, value 한 쌍으로 구성 된 구조
- key를 통해서 value 접근
- key 중복 불가, value 중복 가능
- 순서 없음 → index 없음
- 멤버함수: update(), get(), keys(), values(), items()

4. set{}
- dict type에서 key만 활용하는 데이터 구조로 이해
- 수학 집합과 같은 개념
- 순서 없음 → index 없음
- set 구조 내 중복값 허용 안함
- {}: dict, {1,2,3} : set
- 멤버함수: union(), intersecction(), difference() 등등

In [2]:
# list 초기화
# 1. []
# 2. list()

list_a = []
list_b = [1, 2, 3]
list_c = ["cnu", 3.14, [1,2,3,]]

print(list_a)

[]

In [4]:
str_a = "Hello"
list_d = list(str_a)  # 문자열 → list 형변환
print(list_d)

tuple_a = (1, 2, 3)
list_e = list(tuple_a)
print(list_e)

['H', 'e', 'l', 'l', 'o']
[1, 2, 3]

In [3]:
list_f = [1, 2, 3, 4, 5]
print(list_f[3])
print(list_f[1:3]) #뒷 슬라이스는 -1 해줘야함
print(list_f[:2])

4
[2, 3]
[1, 2]

In [8]:
# append() : list 마지막에 값을 추가
a = [1, 2, 3]
a.append(10)
print(a)

[1, 2, 3, 10]

In [10]:
# insert() : list 원하는 인덱스 위치에 값을 추가 (새치기) ("인덱스위치,숫자" 형태로)
a = [1, 2, 3]
a.insert(1, 99)
print(a)

[1, 99, 2, 3]

In [12]:
# extend() : list와 list 병합
a = [1, 2, 3]
b = [4, 5, 6]

a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [6]:
a = [1, 2, 3]
b = [4, 5, 6]

# a.extend(b)
a += b # a = a+b
print(a)

[1, 2, 3, 4, 5, 6]

In [8]:
# remove() : 값을 통해서 삭제(인덱스로 삭제 x)
a = [1, 2, 3]
a.remove(2)
print(a)

[1, 3]

In [9]:
# pop() : 인덱스를 통해서 삭제( + 삭제 전 값을 변수에 저장 가능)
a = [4, 5, 6]
# a,pop(1) 도 가능
b= a.pop(2)
print(a)
print(b)

[4, 5]
6

In [11]:
# index() : 찾고자 하는 값의 인덱스 번호 출력
a = [8, 10, 20, 5, 3]
print(a.index(20))

2

In [15]:
# 사용자의 이메일 이름만 추출하기

email = "yju0269@naver.com"

email_idx = email.index("@")
email[:email_idx]

'yju0269'

In [16]:
# in : list 내에 해당 값이 존재하는지 (True, False)
a = [1, 2, 3]
print(3 in a)
print(5 in a)

True
False

In [22]:
# sort() and sorted() : list 정렬 (튜플은 불가)
# - sort() : 원본 list 정렬
# - sorted() : list 복제 후 정렬 (원본 유지)

a = [9, 5, 1, 2, 10, 15, 12]

b = sorted(a) # 정렬 default : 오름차순
print(a) # 원본 유지
print(b)
print("=" *50)
a.sort(reverse=True) # 내림차순
print(a)

[9, 5, 1, 2, 10, 15, 12]
[1, 2, 5, 9, 10, 12, 15]
==================================================
[15, 12, 10, 9, 5, 2, 1]

### 2. Tuple

In [26]:
a = [1, 2, 3]
b = (1, 2, 3)
c = 5, 6, 7

print(type(a))
print(type(b))
print(type(c))

a[0] = 99
print(a)

#b[0] = 99
#print(b) → 튜플은 수정 불가

<class 'list'>
<class 'tuple'>
<class 'tuple'>
[99, 2, 3]

In [30]:
# packing and unpacking
# - list와 tuple 가능
# - [], () → 값을 묶음(packing)

tuple_num  = (1, 2, 3) # packing
a, b, c = tuple_num # unpacking
print(a, b,)
print(a, b, c)

1 2
1 2 3

## 연습문제

변수 a와 b의 값을 교환하세요

In [33]:
a = 5
b = 9

# 코드작성
# 1. 임시 변수 사용
temp = a
a = b
b = temp

print(a)
print(b)

9
5

In [34]:
a = 5
b = 9

a, b = (b, a) # 튜플 사용 = a, b = b, a (튜플은 괄호 없이 사용 가능)

print(a)
print(b)

9
5

### 3. dict

In [35]:
dict_a = {"Korea" : "Seoul",
         "Canada" : "Ottawa",
         "usa" : "Washington D.C"}
dict_b = {0:1, 1:6, 2:4, 3:9}
print(dict_a["Canada"])
print(dict_b[3])

Ottawa
9

In [4]:
import pprint

dict_a = {"Korea" : "Seoul",
         "Canada" : "Ottawa",
         "usa" : "Washington D.C"}

# 값을 입력 → key 값이 입력 X, key 값이 수정 O
dict_a["Japan"] = "Tokyo" # dict 값 추가
dict_a["Japan"] = "Kyoto" # Japan 이라는 Key 값을 도쿄에서 교토로 변경 (Key 값이 중복되서) 
dict_a["Japan2"] = "Kyoto" # Value 값은 중복되도 출력 가능

pprint.pprint(dict_a) # (+) 이쁘게 출력해줌

{'Canada': 'Ottawa',
 'Japan': 'Kyoto',
 'Japan2': 'Kyoto',
 'Korea': 'Seoul',
 'usa': 'Washington D.C'}

In [52]:
# update() : dict와 dict 병합
a = {
    "a" : 1,
    "b" : 2
}
b = {
    "a" : 9,
    "d ": 4,
    "e" : 5
}

a.update(b)
print(a)

{'a': 9, 'b': 2, 'd ': 4, 'e': 5}

In [53]:
# pop() : dict 항목 삭제

c = a.pop("a")
print(a)
print(c)

{'b': 2, 'd ': 4, 'e': 5}
9

In [54]:
# 값 접근
print(a["e"])
# print(a["f"])
print(a.get("f"))

5
None

In [55]:
# in
print("b" in a)

True

In [56]:
# clear() : dict 초기화
print(a)
a.clear()
print(a)

{'b': 2, 'd ': 4, 'e': 5}
{}

In [14]:
# keys() : key 값만 반환
# values() : value 값만 반환
# items() : key, value를 튜플로 반환

a = {
    "a" : 1,
    "b" : 2
}

print(a)
print(a.keys())
print(a.values())
print(a.items())

print(type(a))
print(type(a.keys()))
print(type(a.values()))
print(type(a.items()))

print(list(a.keys()))
print(type(list(a.keys())))

print(list(a.items()))

val = list(a.items())
print(type(val)) # 리스트
print(type(val[0])) # 그냥 괄호로 묶여있으니 튜플

{'a': 1, 'b': 2}
dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])
<class 'dict'>
<class 'dict_keys'>
<class 'dict_values'>
<class 'dict_items'>
['a', 'b']
<class 'list'>
[('a', 1), ('b', 2)]
<class 'list'>
<class 'tuple'>

### 4. Set

In [16]:
list_z = [1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5]
print(list_z)

set_a = set(list_z)
print(set_a)

# set? or dict?
j = {}
print(type(j))

[1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
<class 'dict'>

In [17]:
a = {1, 2, 3}
b = {2, 3, 4}

# 시험 안나옴 (외우지 말기)
print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분집합 (b가 {1,2,3,4})

{1, 2, 3, 4}
{2, 3}
{1}
False